{
    "openapi": "3.0.0",
    "info": {
        "title": "SprintCheck SDK API Documentation",
        "description" : "SprintCheck API for identity verification, supporting BVN and NIN verification flows.",
        "version": "1.0.0",
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        },
        "contact": {
            "name": "SprintCheck",
            "url": "https://sprintcheck.megasprintlimited.com.ng",
            "email": "info@megasprintlimited.com.ng"
        }
    },
    "servers": [
        {
            "url": "https://api.sprintcheck.megasprintlimited.com.ng/api/v1",
            "description": "Production Server"
        },
        {
            "url": "http://127.0.0.1:8877/api/v1",
            "description": "Development Server"
        }
    ],
    "tags": [
        {
            "name": "Identity Verification",
            "description": "Identity Verification"
        },
        {
            "name": "Document Verification",
            "description": "Document Verification"
        },
        {
            "name": "Facial Verification",
            "description": "Facial Verification"
        },
        {
            "name": "Business Verification",
            "description": "Business Verification"
        }
    ],
    "paths": {
        "/bvn": {
            "post": {
                "tags": [
                    "Identity Verification"
                ],
                "summary": "Verify BVN",
                "operationId": "verifyBvn",
                "description": "Verify BVN",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyBvnRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyBvnResponse"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "signature",
                        "in": "header",
                        "description": "HMAC-SHA512 signature of the request body with your encryption key. For PHP: hash_hmac('SHA512',PAYLOAD,ENCRYPTION_KEY)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "fc726fab7c0fa6f60c38e2ebcfa91d1fdce33a99e56b8a78a11c19a5fd92ea9dc2d33ed428efe714c0424f68d2e1734052151fac092a965fa6d02db33f817523"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/nin": {
            "post": {
                "tags": [
                    "Identity Verification"
                ],
                "summary": "Verify NIN",
                "operationId": "verifyNin",
                "description": "Verify NIN",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyBvnRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyBvnResponse"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "signature",
                        "in": "header",
                        "description": "HMAC-SHA512 signature of the request body with your encryption key. For PHP: hash_hmac('SHA512',PAYLOAD,ENCRYPTION_KEY)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "fc726fab7c0fa6f60c38e2ebcfa91d1fdce33a99e56b8a78a11c19a5fd92ea9dc2d33ed428efe714c0424f68d2e1734052151fac092a965fa6d02db33f817523"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/passport": {
            "post": {
                "tags": [
                    "Document Verification"
                ],
                "summary": "Verify Passport",
                "operationId": "verifyPassport",
                "description": "Verify Passport",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyPassportRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyBvnResponse"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "signature",
                        "in": "header",
                        "description": "HMAC-SHA512 signature of the request body with your encryption key. For PHP: hash_hmac('SHA512',PAYLOAD,ENCRYPTION_KEY)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "fc726fab7c0fa6f60c38e2ebcfa91d1fdce33a99e56b8a78a11c19a5fd92ea9dc2d33ed428efe714c0424f68d2e1734052151fac092a965fa6d02db33f817523"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/drivers-license": {
            "post": {
                "tags": [
                    "Document Verification"
                ],
                "summary": "Verify Driver's License",
                "operationId": "verifyDriversLicense",
                "description": "Verify Drivers License",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyDriversLicenseRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyBvnResponse"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "signature",
                        "in": "header",
                        "description": "HMAC-SHA512 signature of the request body with your encryption key. For PHP: hash_hmac('SHA512',PAYLOAD,ENCRYPTION_KEY)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "fc726fab7c0fa6f60c38e2ebcfa91d1fdce33a99e56b8a78a11c19a5fd92ea9dc2d33ed428efe714c0424f68d2e1734052151fac092a965fa6d02db33f817523"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/voters": {
            "post": {
                "tags": [
                    "Document Verification"
                ],
                "summary": "Verify Voters's Card",
                "operationId": "verifyVotersCard",
                "description": "Verify Voters Card",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyBvnRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyBvnResponse"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "signature",
                        "in": "header",
                        "description": "HMAC-SHA512 signature of the request body with your encryption key. For PHP: hash_hmac('SHA512',PAYLOAD,ENCRYPTION_KEY)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "fc726fab7c0fa6f60c38e2ebcfa91d1fdce33a99e56b8a78a11c19a5fd92ea9dc2d33ed428efe714c0424f68d2e1734052151fac092a965fa6d02db33f817523"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/face_detection": {
            "post": {
                "tags": [
                    "Facial Verification"
                ],
                "summary": "Verify Face(s) (Beta) *Free",
                "operationId": "verifyface",
                "description": "Verify Face(s). You can convert your images to base64 and pass them as a string using https://base64.guru/converter/encode/image",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FaceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyBvnResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/face_liveness": {
            "post": {
                "tags": [
                    "Facial Verification"
                ],
                "summary": "Face(s) Liveness Check (Beta)",
                "operationId": "facelivenewss",
                "description": "Face(s) Liveness Check. You can convert your images to base64 and pass them as a string using https://base64.guru/converter/encode/image",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FaceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyBvnResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/face_compare": {
            "post": {
                "tags": [
                    "Facial Verification"
                ],
                "summary": "Compare Faces (Beta)",
                "operationId": "compareface",
                "description": "Your images should be less than 500kb in size. Visit https://www.reduceimages.com to reduce your image size.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CompareFaceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyBvnResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/cac/name": {
            "post": {
                "tags": [
                    "Business Verification"
                ],
                "summary": "Search CAC Registered Names",
                "operationId": "cacName",
                "description": "Search CAC Registered Names",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CacNameRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyBvnResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/cac/shareholders": {
            "post": {
                "tags": [
                    "Business Verification"
                ],
                "summary": "Fetch Shareholders of CAC Registered Business",
                "operationId": "cacShareholders",
                "description": "Fetch Shareholders of CAC Registered Business. You are to get the Business ID number from the /cac/name endpoint e.g id: 8798230",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CacShareholderRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyBvnResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "VerifyBvnRequest": {
                "type": "object",
                "required": [
                    "number",
                    "identifier"
                ],
                "properties": {
                    "number": {
                        "type": "string",
                        "format": "string"
                    },
                    "identifier": {
                        "type": "string",
                        "format": "string"
                    }
                }
            },
            "VerifyBvnResponse": {
                "type": "object",
                "required": [
                    "success",
                    "message",
                    "data"
                ],
                "properties": {
                    "success": {
                        "type": "number",
                        "format": "number"
                    },
                    "message": {
                        "type": "string",
                        "format": "string"
                    },
                    "data": {
                        "type": "object"
                    }
                }
            },
            "VerifyPassportRequest": {
                "type": "object",
                "required": [
                    "number",
                    "dob",
                    "identifier"
                ],
                "properties": {
                    "number": {
                        "type": "string",
                        "format": "string"
                    },
                    "dob": {
                        "type": "string",
                        "format": "string",
                        "example": "YYYY-MM-DD"
                    },
                    "identifier": {
                        "type": "string",
                        "format": "string"
                    }
                }
            },
            "VerifyDriversLicenseRequest": {
                "type": "object",
                "required": [
                    "number",
                    "dob",
                    "last_name",
                    "first_name",
                    "identifier"
                ],
                "properties": {
                    "number": {
                        "type": "string",
                        "format": "string"
                    },
                    "dob": {
                        "type": "string",
                        "format": "string",
                        "example": "YYYY-MM-DD"
                    },
                    "last_name": {
                        "type": "string",
                        "format": "string"
                    },
                    "first_name": {
                        "type": "string",
                        "format": "string"
                    },
                    "identifier": {
                        "type": "string",
                        "format": "string"
                    }
                }
            },
            "FaceRequest": {
                "type": "object",
                "required": [
                    "image"
                ],
                "properties": {
                    "image": {
                        "type": "string",
                        "format": "string"
                    }
                }
            },
            "CompareFaceRequest": {
                "type": "object",
                "required": [
                    "image1",
                    "image2"
                ],
                "properties": {
                    "image1": {
                        "type": "string",
                        "format": "string"
                    },
                    "image2": {
                        "type": "string",
                        "format": "string"
                    }
                }
            },
            "CacNameRequest": {
                "type": "object",
                "required": [
                    "name"
                ],
                "properties": {
                    "name": {
                        "type": "string",
                        "format": "string"
                    }
                }
            },
            "CacShareholderRequest": {
                "type": "object",
                "required": [
                    "biz_id"
                ],
                "properties": {
                    "biz_id": {
                        "type": "number",
                        "format": "number"
                    }
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "Authorization"
            }
        }
    }
}
